.job-contents {
    line-height: 1.7;
}

.job-contents h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #111827;
}

.job-contents h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    color: #1f2937;
}

.job-contents p {
    margin-bottom: 1.25rem;
}

.job-contents ul, .job-contents ol {
    margin-bottom: 1.25rem;
    padding-left: 1.5rem;
}

.job-contents li {
    margin-bottom: 0.5rem;
}

.job-contents strong {
    color: #111827;
}
